@import "./dark-mode-color-scheme.css";

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
}

button {
  background-color: var(--button-background);
  color: var(--primary-text);
  padding-left: 8px;
}

input {
  background-color: var(--input-background);
  color: var(--input-text);
  border-color: var(--input-border);
  margin-left: 8px;
}

::placeholder {
  color: var(--placeholder);
}

h1 {
  color: var(--green);
  padding-left: 8px;
}

.done {
  text-decoration: line-through;
}

.btn {
  margin-left: 8px;
}

.list {
  padding-left: 8px;
}

.list-item {
  display: flex;
  height: auto;
  align-items: center;
  cursor: default;
}

.list-item-text {
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

/* .coolTitle {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
} */
